[sssd]
domains = zc03.internal
services = nss, pam, ssh
config_file_version = 2

[pam]
offline_credentials_expiration = 15
offline_failed_login_attempts = 3
offline_failed_login_delay = 5

[nss]
filter_groups = root
filter_users = root

[domain/zc03.internal]
dns_discovery_domain = cisforest.com
auto_private_groups = true
id_provider = ldap
ldap_id_mapping = True
ldap_schema = AD
ldap_group_nesting_level = 20
ldap_uri =  _srv_
ldap_backup_uri = ldaps://cisforest.com
ldap_search_base = OU=RBAC_CIS_Groups,OU=Azure,dc=cisforest,dc=com
ldap_default_bind_dn = CN=ldap,OU=Service Accounts,OU=CIS,DC=cisforest,DC=com
ldap_id_use_start_tls = true
ldap_tls_reqcert = never
#ldap_tls_cacert = /usr/local/share/ca-certificates/SherwebCA/SigmaRootCA.cer
ldap_default_authtok_type = password
ldap_default_authtok = {{ sssd_ldap_password }}
ldap_user_extra_attrs = altSecurityIdentities:altSecurityIdentities
ldap_user_ssh_public_key = altSecurityIdentities
ldap_use_tokengroups = true
default_shell = /bin/bash
use_fully_qualified_names = true
fallback_homedir = /home/%u@%d
simple_allow_groups = DL_LinuxAdmins
auth_provider = ldap
cache_credentials = true
account_cache_expiration = 15
